body{
	 
	background-color: #d3eef7;
	font-family: sans-serif;
	
 }
 h1{
     text-align: center;
     color: black;
     text-transform: uppercase;
   
 }
 p{
     color: darkblue;
 }
  h2{
     color: black;
     text-decoration: underline;
     text-decoration-color: blue;
 }

 table, tr, th, td{
     border-style: solid;
     border-color: darkblue;
     border-width: 1px;
  
 }


 a{
     text-decoration: none;
     color: black;
     
 }
 a:hover{
     color: blue;
 }