body{
    font-family: sans-serif;
    background-color: cadetblue;
    margin: 0px;
        
}
main, header, footer, article{
    overflow: hidden;
}
main{
    width: 1000px;
    background-color: white;
    margin: 0px;
    
}